@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Exchange Rate Calculator</h1>
    <p>Learn about <a href="https://frankfurter.dev/?utm_source=chatgpt.com">Frankfurter is a free, open-source currency data API</a>.</p>

     
</div>
